.logsTime {
  width: calc(50% - 20px);
  background-color: orange;
  float: left;
  padding: 10px;
  text-align: center;
  font-family: monospace;
  font-size: larger;
  height: 300px;
}

.BGPTime {
  width: calc(50% - 20px);
  float: right;
  padding: 10px;
  text-align: center;
  font-family: monospace;
  font-size: larger;
  height: 300px;
  /* background-color: aquamarine; */
}

.bgpResultH1 {
  font-weight: bold;
  font-size: large;
  border: none;
  resize: none;
  background-color: white;
  text-align: center;
}

.bgpResultH1:focus {
  /* background-color: aqua; */
  font-weight: bold;
  font-size: large;
  border: none;
  text-align: center;
  resize: none;
}

body {
  background-color: orange;
  font-size: larger;
  font-family: monospace;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

div.result {
  float: left;
  width: calc(100% - 30px);
  text-align: center;
}
